@import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" ;

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(9 127 237 / 69%) ;
}
.login-box{

    margin-left: 400px;
    margin-top: 53px;
    background-color: white;
    width: 616px;
    height: 616px;
   
    border-radius: 10px;
    
}

.login-box img{
    text-align: center;
   
    margin-left:240px;
    width: 127px;
    margin-top: 115px;
}

 .textbox{
    width: 40%;
   
    font-size: 20px;
   
    border-bottom: 2px solid grey;
    padding: 5px;
    margin-left: 177px;
} 

.textbox input{
    border: none;
    outline: none;
    background: none;
}

.passwordbox{
    width: 40%;
    border-bottom: 2px solid grey;
    padding: 5px;
    margin-top: 25px;
    margin-left: 177px;
    float: inline-end;
}
.passwordbox input{
    border: none;
    outline: none;
    background: none;
}

.btn{
    margin-top: 45px;
    font-size: 20px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(228, 2, 51);
    width: 40%;
    margin-left: 177px;
    border-radius: 15px;
}