body{
    margin:0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

.text{
    margin-left: 150px;
}

.first{
    position: absolute;
    margin-left: 100px;
}

.first img{
    margin-left: 90px;
}

.second{
    margin-left: 600px;
    margin-top: 25px;
}

.second img{
    margin-left: 28px;
}

.second h3{
    margin-left: 25px;
}

.third{
    margin-left: 110px;
    margin-top: 20px;
}

.third img{
    margin-left: 55px;
}

.third h3{
    margin-left: 60px;
}

.fourth{
    margin-left: 600px;
   margin-top: -280px;
}

.fourth img{
    margin-left: 30px;
}
.fourth h3{
    margin-left: 20px;
}

a:link{
  text-decoration: none;
}
/* box */
.box{
    width: 300px;
    margin-left: 70%;
    margin-top: -550px;
    border-top: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    height: 428px; 
    box-shadow: 2px 2px 15px 0 rgb(17, 16, 16);
    padding: 20px;
    }

.box input{
    padding: 10px;
    width: 80%;
    margin-left: 10px;
    margin-top: 20px;
}

.vkl1{
    margin-top: 15px;
    margin-left: 15px;
    border: 1px solid black;
    padding: 13px;
    width: 20px;
    justify-content: space-around;
}

.box h4{
    padding: 10px;
}

.btn{
    background-color: rgb(7, 150, 119);
    color: white;
    width: 80%;
    margin-bottom: 50px;
    margin-top: 40px;
    padding: 10px;
    margin-left: 27px;
}

.box h6{
    margin-left: 90px;
    margin-top: -20px ;
}

.box h3{
    margin-left: 15px;
}